body{
  color: black;
  height: 100vh;
  width: 100vw;  
} 
#wrapper{
height: 100%;
display: grid;
grid-template-columns:20% 20% 20% 20% 20%;
grid-template-rows:10% 7% 70% 13%;

grid-template-areas:
 "he he he he he "
 "na na na na na "
 "ma ma ma ma as "
 "fo fo fo fo fo ";
}
header{
grid-area:he;
background-color: lightslategray;
}
nav{
grid-area: na;
background-color: blue;
}
aside{
grid-area: as;
background-color: aquamarine;
}
main{
grid-area: ma;
background-color: lightslategray;

   
}
img{
  height: 200px;
  width: 300px;
margin-left: 50px;
  margin-bottom: 75px;
}
textarea{
width: 300px;
height: 100px;
position: relative;
right: 485px;


}
footer{
grid-area: fo;
background-color: ghostwhite;
}  
.Rubrik.container {
  


} 

a{                                                           

margin-left: 100 px;    

}


/* ------------dobbar------------- */

.dubbar{
  height:   150px;
  width: 180px;
  margin-top: 50px;
 

}
#textBox {
  width: 300px;
  height: 100px;
  border: 1px solid black;
  padding: 10px;
  margin-left: 90px;

}


