body{
  color: black;
  height: 100vh;
  width: 100vw;  
} 
#wrapper{
height: 100%;
display: grid;
grid-template-columns:20% 20% 20% 20% 20%;
grid-template-rows:10% 7% 70% 13%;

grid-template-areas:
 "he he he he he "
 "na na na na na "
 "ma ma ma ma as "
 "fo fo fo fo fo ";
}
header{
grid-area:he;
background-color: lightslategray;
}
nav{
grid-area: na;
background-color: blue;
}
aside{
grid-area: as;
background-color: aquamarine;
}
main{
grid-area: ma;
background-color: rgb(255, 0, 60);
}
footer{
grid-area: fo;
background-color: ghostwhite;
} 